@import 'tailwindcss';

@theme {
  --font-sans: 'Inter', 'Arial', 'Helvetica Neue', 'Noto Sans JP',
    'Source Han Sans JP', 'BIZ UDPGothic', 'Yu Gothic UI', 'Hiragino Sans',
    'Hiragino Kaku Gothic ProN', sans-serif, 'Noto Color Emoji',
    'Segoe UI Emoji', system-ui;
  --font-serif: 'Charis SIL', 'Times New Roman', 'Century', 'Noto Serif JP',
    'Source Han Serif JP', 'BIZ UDPMincho', 'Yu Mincho', 'Hiragino Serif',
    'Hiragino Mincho ProN', serif, 'Noto Color Emoji', 'Segoe UI Emoji',
    system-ui;
  
  --font-ipa: var(--font-serif);

  --color-mnlila: oklch(0.18 0.0957 296);
}

@custom-variant dark {
  @media (prefers-color-scheme: dark) {
    @slot;
  }

  &:where([data-color-scheme='dark'] &) {
    @slot;
  }
}

@custom-variant any-hover {
  @media (any-hover: hover) {
    &:hover {
      @slot;
    }
  }
}

@utility user-select-* {
  user-select: --value('none', 'auto', 'text', 'all');
}

@utility btn-1 {
  @apply bg-mnlila any-hover:opacity-60 transition-opacity text-white dark:bg-white dark:text-black rounded px-2 py-1;
}

@layer base {
  html {
    -webkit-tap-highlight-color: revert;
    color-scheme: light dark;
  }
  body {
    @apply bg-slate-50 dark:bg-mnlila min-h-screen transition-colors duration-[120ms] text-black dark:text-white;
  }

  textarea {
    @apply resize-none;
  }

  textarea,
  input[type='text'],
  input[type='url'],
  input[type='number'],
  input[type='url'],
  input[type='email'],
  input[type='password'],
  input[type='search'],
  input[type='tel'],
  input[type='date'],
  input[type='datetime-local'],
  select {
    @apply bg-white border border-black/20 rounded text-black font-mono px-1;
  }

  button,
  input[type='button'],
  input[type='radio'],
  input[type='checkbox'] {
    @apply cursor-pointer;
  }
}
